html,body{
    height: 100%;
}

#gameContainer{
	height: 500px;
	width: 330px;
	margin: auto;
	padding-top: 22px;
}

.cellIcon{
	padding: 17% 12% 6% 6%;
}

/*
	***Tic Tac Toe Styling Begin***
*/
	
	.ticTacToeCell {
		margin: auto;
		background-color: #78bec5;
		border-radius: 14px;
		cursor: pointer;
		color: #fff;
		height: 100px;
		margin: 5px;
		width: 100px;
	}

	.ticTacToeCell:hover{
		background-color: #3d878f;
	}



	#topRightCell {
		border-left: solid;
		border-bottom: solid;
	}

	#topMiddleCell {
		border-left: solid;
		border-right: solid;
		border-bottom: solid;
	}

	#topLeftCell {
		border-right: solid;
		border-bottom: solid;
	}

	#centerRightCell {
		border-left: solid;
		border-top: solid;
		border-bottom: solid;
	}

	#centerMiddleCell {
		border: solid;
	}

	#centerLeftCell {
		border-right: solid;
		border-top: solid;
		border-bottom: solid;
	}

	#bottomRightCell {
		border-left: solid;
		border-top: solid;
	}

	#bottomMiddleCell {
		border-left: solid;
		border-right: solid;
		border-top: solid;
	}

	#bottomLeftCell {
		border-right: solid;
		border-top: solid;
	}
/*
	***Tic Tac Toe Styling End***
*/
