<div class="wrapperDark">
    
    		<div class="container" id="divider5">
    	
    			<div class="col-md-12">
        
    				<div class="divider dashed">
    	
    				</div><!-- /.divider -->
    			    		
    			</div><!-- /.col -->
    		
    		</div><!-- /.container -->
    	
    	</div>

<div id="page" class="page">
        
    <!-- Start Content Block 1-5 v1 -->
    <section class="content-1-5 content-block">
    			
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="editContent">
						<h1>I'm a chess geek, photography enthusiast, and software developer</h1>
					</div>
					<div class="editContent">
						<p class="lead">This website is the result of a code challenge from the Cox Media Group. I was tasked to create a game of Tic Tac Toe with an AI that would never lose.</p>
					</div>
					<div class="editContent">
						<p>I was able to quickly create the page, and the logic for two people to play, but met my match when creating the AI logic for simple game like Tic Tac Toe.</p>
					</div>
				</div>
			
				<div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12">
					<img class="img-responsive" src="images/about/aboutPicture.jpg">
				</div>
			</div><!-- /.row -->
		</div><!-- /.container -->
		
    </section>
    <!-- // End Content Block 1-5 v1 --><div class="wrapperDark">
    
    		<div class="container" id="divider5">
    	
    			<div class="col-md-12">
        
    				<div class="divider dashed">
    	
    					<span class="editContent">THINGS I LEARNED ALONG THE WAY</span>
    	
    				</div><!-- /.divider -->
    			    		
    			</div><!-- /.col -->
    		
    		</div><!-- /.container -->
    	
    	</div><!-- /.wrapperDark --><div class="item content" id="content_section1">
    		
    		<div class="container">
    		    		
    			<div class="row">
    			
    				<div class="col-md-4">
    				   
    				   	<div class="col editContent">
    				   	    			
    						<h3>Minimax Algorithm</h3>
    						
    						<p>
    							I learned about a basic gaming algorithm and it showed me that even simple AI decision making is extremely complex. 
    						</p>
    					
    					</div><!-- /.col -->
    						    					    				
    				</div><!-- /.col-md-4 col -->
    				
    				<div class="col-md-4 editContent">
    				    
    				    <div class="col">
    				    			    					
    						<h3>Game Design</h3>
    						
    						<p>
    							I have a new found repect for game designers and even more respect for anyone creating complex AI algorithms. 
    						</p>
    						
    					</div><!-- /.col -->
    						    					    				
    				</div><!-- /.col-md-4 col -->
    				
    				<div class="col-md-4 editContent">
    				   	
    				   	<div class="col">
    				   				    					
    						<h3>Process Is Everything</h3>
    						
    						<p>
    							If I could rewrite this game, I would change a lot. But the game works, and the experience gained is priceless. 
    						</p>
    						
    					</div><!-- /.col -->	
    					    					    				
    				</div><!-- /.col-md-4 col -->
    			
    			</div><!-- /.row -->
    		
    		</div><!-- /.container -->
    	
    	</div><!-- /.item --><!-- Start Content Block 2-1 -->
	<section id="content-2-1" class="content-block content-2-1 bg-deepocean">
		<div class="container text-center">
			<a href="#" class="btn btn-outline btn-outline-xl outline-light">Made with <span class="fa fa-heart pomegranate"></span> in Atlanta</a>
			<div class="editContent">
				<h2>and thanks for your consideration.</h2>
			</div>
		</div><!-- /.container -->
	</section>
	<!--// END Content Block 2-1 --></div><!-- /#page -->