	    	<div class="wrapperDark">

	    		<div class="container" id="divider5">

	    			<div class="col-md-12">

	    				<div class="divider dashed">

	    					<span class="editContent">{{title}}</span>

	    				</div><!-- /.divider -->

	    			</div><!-- /.col -->

	    		</div><!-- /.container -->

	    	</div><!-- /.wrapperDark -->
	    	<!-- Start Content Block 1-5 v2 -->
	    	<section class="content-1-5 content-block">

	    		<div class="container">
	    			<div class="row">
	    				<div class="col-lg-6 col-lg-offset-1 col-md-6 col-sm-12 pull-right">
					<div class="editContent">
						<h1>The </h1>
					</div>
					<div class="editContent">
						<p class="lead">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor. Et harum quidem rerum.</p>
					</div>
					<div class="editContent">
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor. Et harum quidem rerum.</p>
					</div>
				</div>
	    				<div class="col-lg-5 col-md-6 col-sm-12 pull-left pull-left">
	    					<div id="gameContainer">
	    						<!-- Top Row Start-->
	    						<div class"row" >
	    							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ticTacToeCell" ng-click="cellClick(1)" id="topLeftCell">
	    								<i class="{{GameController.cell1.gameIcon}}"></i>
	    							</div>	
	    							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ticTacToeCell" ng-click="cellClick(2)" id="topMiddleCell">
	    								Top Middle 2
	    							</div>	
	    							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ticTacToeCell" ng-click="cellClick(3)" id="topRightCell">
	    								Top Right 3
	    							</div>	
	    						</div>
	    						<!-- Top Row Stop-->
	    						<!-- Center Row Start-->
	    						<div class"row" >	
	    							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ticTacToeCell" ng-click="cellClick(4)" id="centerLeftCell">
	    								Center Left 4
	    							</div>	
	    							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ticTacToeCell" ng-click="cellClick(5)" id="centerMiddleCell">
	    								Center Middle 5
	    							</div>	
	    							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ticTacToeCell" ng-click="cellClick(6)" id="centerRightCell">
	    								Center Right 6
	    							</div>	
	    						</div>
	    						<!-- Center Row Stop-->
	    						<!-- Bottom Row Start-->
	    						<div class"row" >
	    							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ticTacToeCell" ng-click="cellClick(7)" id="bottomLeftCell">
	    								Bottom Left 7
	    							</div>	
	    							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ticTacToeCell" ng-click="cellClick(8)" id="bottomMiddleCell">
	    								Bottm Middle 8
	    							</div>	
	    							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ticTacToeCell" ng-click="cellClick(9)" id="bottomRightCell">
	    								Bottem Right 9
	    							</div>	
	    						</div>
	    						<!-- Bottom Row Stop-->
	    					</div>
	    				</div>
	    			</div><!-- /.row -->
	    		</div><!-- /.container -->

	    	</section>

    <!-- // End Content Block 1-5 v2 -->