    			<div class="item content padding-top-0 padding-bottom-0" id="content_section1">
    	
    		<div class="wrapper grey">
    		
    		<div class="container">
    		
    			<div class="row margin-bottom-60">
    			
    				<div class="col-md-12">
    					
    					<div class="editContent">
    					<h2>A game of Tic Tac Toe developed by Carlos Morales for Cox Media Group</h2>
    					
    					<p class="lead">
    						There are two choices. You can put your skills to the test by playing another human and possibly win, or you can pull your hair out trying to beat an AI designed to never (ever) lose. Good luck, you're going to need it. 
    					</p>
    					</div><!-- /.editContent -->
    				
    				</div>
    			
    			</div><!-- /.row -->
    		
    			<div class="row">
    			
    				<div class="col-md-6 text-center">
    				   
    				   	<div class="col">
    				   	
    						<img alt="" src="images/gameIcons/evilPerson.png" style="width: 30%;">
    					
    						<div class="editContent">
    						<h3>Human Vs. Human</h3>
    						
    						
    						</div><!-- /.editContent -->
    					
    						<a href="#" class="btn btn-primary btn-embossed" ng-click="playHuman()">Play Another Human</a>

    					</div><!-- /.col -->
    						    					    				
    				</div><!-- /.col-md-6 col -->
    				
    				<div class="col-md-6 text-center">
    				    
    				    <div class="col">
    				    			
    						<img alt="" src="images/gameIcons/evilComputer.png" style="width: 30%;">
    					
    						<div class="editContent">
    						<h3>Human Vs. Computer</h3>
    						
    						
    						</div><!-- /.editContent -->

    						<a href="#" class="btn btn-primary btn-embossed" ng-click="playHuman()">Play The Computer</a>
    						
    					</div><!-- /.col -->
    						    					    				
    				</div><!-- /.col-md-6 col -->
    			
    			</div><!-- /.row -->
    		
    		</div><!-- /.container -->
    		
    		</div><!-- /.wrapper -->
    	
    	<div class="row">
    	<div class="wrapperDark">
    
    		<div class="container" id="divider5">
    	
    			<div class="col-md-12">
        
    				<div class="divider dashed">
    	
    					<span class="editContent">BUILT - WITH</span>
    	
    				</div><!-- /.divider -->
    			    		
    			</div><!-- /.col -->
    		
    		</div><!-- /.container -->
    	
    	</div><!-- /.wrapperDark -->

    	</div>

    <section id="content-1-7" class="content-1-7 content-block">
    
		<div class="container">
			
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-6">
					<a href="https://getbootstrap.com/"><img alt="Client Logo" src="images/partner-logos/logo-bootstrap.png"></a>
				</div>
				
				<div class="col-md-3 col-sm-6 col-xs-6">
					<a href="https://angular.io/"><img alt="Client Logo" src="images/partner-logos/logo-angularjs.png"></a>
				</div>
				
				<div class="col-md-3 col-sm-6 col-xs-6">
					<a href="http://bower.io/"><img alt="Client Logo" src="images/partner-logos/logo-bower.png"></a>
				</div>
				
				<div class="col-md-3 col-sm-6 col-xs-6">
					<a href="http://gulpjs.com/"><img alt="Client Logo" src="images/partner-logos/gulp.png"></a>
				</div>

				</div>
			</div><!--end of row-->
					
		</div><!-- /.container -->
    
    </section>